<app-client-base [cliente$]=cliente$></app-client-base>

<div *ngIf="(cliente$ | async) as cliente" style="display: block; margin-left: 30%; margin-top: -46.7%;">
    <h3>Datos específicos</h3>
    <table>
        <tr>
            <th>Código del armario de llaves</th>
            <td>{{cliente.expediente.datosTenant.armarioLlaves}}</td>
        </tr>
    </table>
</div>
<br><br>
<a [routerLink]="['/']">Volver</a>

<!-- <table>
        <thead>
            <tr>
                <th>Código del armario de llaves</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cliente.expediente.datosTenant.armarioLlaves}}</td>
            </tr>
        </tbody>
    </table> -->